<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fiche de Frais</title>
</head>
<body>

  <div class="main">
    <h1>Fiche de Frais</h1>

    <!-- Formulaire Frais Hors Forfait -->
    <form [formGroup]="myForm" (ngSubmit)="Submit()">
      <label for="date">Date d'Opération :</label>
      <input id="date" formControlName="date" [min]="minDate" [max]="maxDate" type="date" required>

      <h1>Frais Hors Forfait</h1>

      <label for="libelle">Choisissez un type de note :</label>
      <select formControlName="libelle" id="libelle" required>
        <option *ngFor="let libelle of libelles" [value]="libelle.value">
          {{ libelle.label }}
        </option>
      </select>

      <label for="montantHF">Montant :</label>
      <input id="montantHF" formControlName="montantHF" type="number" step="0.01" required>


    <h1>Frais Forfait</h1>


      <div formArrayName="rows">
        <div *ngFor="let row of rows.controls; let i = index" [formGroupName]="i">

          <label [for]="'type-' + i">Choisissez un type de note :</label>
          <select formControlName="type" [id]="'type-' + i" required>
            <option *ngFor="let type of types" [value]="type.value">
              {{ type.label }}
            </option>
          </select>

          <label [for]="'quantiteF' + i">Quantité :</label>
          <input [id]="'quantiteF-' + i" formControlName="quantiteF" type="int" step="1" required>



          <label [for]="'montantF-' + i">Montant :</label>
          <input [id]="'montantF-' + i" formControlName="montantF" type="number" step="0.01" required>
          <div *ngIf="row.get('montantF')?.invalid && row.get('montantF')?.touched" class="error">
            Montant invalide (doit être entre 1€ et 150€).
          </div>
          <button type="button" (click)="removeRow(i)">Supprimer un frais forfait</button>
        </div>
      </div>

      <button type="button" (click)="addRow()">Ajouter un frais forfait</button>
      <button type="submit">Valider</button>
    </form>
  </div>

</body>
</html>
