
<!DOCTYPE html>
<html>

<head>
    <title>Connexion | GSB</title>
    <link rel="stylesheet" href="connexion.component.css">
</head>

<body>
    <div class="main">
        <h1>GSB</h1>
        <h3>Connectez-vous avec votre compte GSB</h3>

        <form action="">
            <label for="first">
                Nom d'utilisateur :
            </label>
            <input type="text" id="first" name="first"
                placeholder="Entrer votre nom d'utilisateur" required>

            <label for="password">
                Mot de passe :
            </label>
            <input type="password" id="password" name="password"
                placeholder="Entrer votre mot de passe" required>

            <div class="wrap">
                <button type="submit">
                    Se connecter
                </button>
            </div>
        </form>
    </div>
</body>

</html>
