<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Responsive Navbar</title>
    <link rel="stylesheet" type="text/css" href="nav-bar.component.css" />

  </head>
  <body>
    <nav>

      <button #burger class="burger" id="burger">&#9776;</button>
      <ul #navLinks class="nav-links" id="nav-links">
        <li><a routerLink="/home"(click)="closeMenu()">Accueil</a></li>
        <li><a routerLink="/about"(click)="closeMenu()">A propos</a></li>
        <li><a routerLink="/newnotes"(click)="closeMenu()">Créer une nouvelle note</a></li>
        <li><a routerLink="/listnotes"(click)="closeMenu()">Liste des notes</a></li>
        <li><a routerLink="/connexion"(click)="closeMenu()">Connexion</a></li>
      </ul>
    </nav>

</body>
</html>
<!-- Contenu principal -->
<router-outlet></router-outlet>
